
:root {
  --bg-color: rgb(235, 235, 235);
  --text-color: #1d1d1d;
}

.dark {
  --bg-color: #1d1d1d;
  --text-color: rgb(235, 235, 235);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--text-color);
}