/*
color pallete: 
#5d001E
#E3E2DF
#E3AFBC
#9A1750
#EE4C7C
*/

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}