---
import Layout from "../layouts/Layout.astro"
import List from "../components/List.astro"

const myItems = [
  { title: 'Colorado Academy', description: 'Description for Item 1' },
  { title: 'Colorado State University', description: 'Description for Item 2' }
];

---


<Layout>
    <div class="about-container">
        <img src="src/assets/headshot.png" alt="Headshot of Kate Ryan" class="headshot" />
        <div class="location">
            <img src="src/assets/location.png" alt="Located in Littleton, CO" width="50px" height="50px" />
            <h1> Littleton, CO</h1>
        </div>
    </div>
</Layout>

<style>
    .about-container {
        display:flex;
        color: #E3AFBC;
        font-family: "Onest", sans-serif;
    }

    .headshot {
        position: sticky;
        -webkit-filter: drop-shadow(3px 2px 0 #EE4C7C)
                  drop-shadow(-2px -2px 0 #EE4C7C);
        filter: drop-shadow(3px 1px 0 #EE4C7C) 
                drop-shadow(-2px -2px 0 #EE4C7C);

    }

    .location {
        display:flex;
        flex-direction: row;
    }
    .location h1{
        color: #E3AFBC;
    }

    .about-sec h1{
        color: #E3AFBC;
    }

    .about-sec {
        display:flex;
        flex-direction: column;
    }

</style>