---
import Layout from "../layouts/Layout.astro"
import List from "../components/List.astro"

const myItems = [
  { title: 'Colorado Academy', description: 'Description for Item 1' },
  { title: 'Item 2', description: 'Description for Item 2' },
  { title: 'Item 3', description: 'Description for Item 3' },
];

---


<Layout>
    <div class="about-container">
        <img src="src/assets/temp_headshot.png" alt="Headshot of Kate Ryan" class="headshot" />
        <div class="about-sec">
            <h1>Education</h1>
            <List items={myItems}></List>
            <h1>Experience</h1>
            <p>Experience Information here</p>
        </div>
    </div>
</Layout>

<style>
    .about-container {
        display:flex;
        color: #E3AFBC;
    }

    .headshot {
        position: sticky;
        top:0%;
        left:0%;
        -webkit-filter: drop-shadow(3px 2px 0 #EE4C7C)
                  drop-shadow(-2px -2px 0 #EE4C7C);
        filter: drop-shadow(3px 1px 0 #EE4C7C) 
                drop-shadow(-2px -2px 0 #EE4C7C);

    }

    .about-sec h1{
        color: #E3AFBC;
    }

    .about-sec {
        margin: 2%;
        display:flex;
        flex-direction: column;
    }

</style>