---
import Layout from "../layouts/Layout.astro"
---


<Layout>
<div class="tab-holder">
    <a class="tab" href="/video-games">
        <button>
            <h1 class="tab-title">Video Games</h1>
        </button>
    </a>
    <a class="tab" href="/3d-modeling">
        <button>
            <h1 class="tab-title">3D Modeling</h1>
        </button>
    </a>
    <a class="tab" href="/graphic-design">
        <button>
            <h1 class="tab-title">Graphic Design</h1>
        </button>
    </a>
    <a class="tab" href="/functional-programs">
        <button>
            <h1 class="tab-title">Functional Programs</h1>
        </button>
    </a>
</div>
</Layout>

<style>
    .tab-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Spread out the elements */
        align-items: center; /* Vertically center the elements */
        font-family: "Onest", sans-serif;
    }

    .tab{
        flex: 1;
        margin: 2%;
        border-radius: 100px;;
        font-family: "Onest", sans-serif;
    }

    h1{
        font-family: "Onest", sans-serif;
    }
</style>