---
import ProjectsLayout from "../layouts/ProjectsLayout.astro"
---


<ProjectsLayout>
<a slot="tabs" class="current-tab" href="/video-games">
    <h1>Video Games</h1>
</a>
<a slot="tabs" href="/3d-modeling">
    <h1>3D Modeling</h1>
</a>
<a slot="tabs" href="/graphic-design">
    <h1>Graphic Design</h1>
</a>
<a slot="tabs" href="/functional-programs" >
    <h1>Programs</h1>
</a>

<div class = "content-holder">
    <h2>Model 1</h2>
    <h2>Model 2</h2>
    <h2>Model 3</h2>
    <h2>Model 4</h2>
    <h2>Model 5</h2>
    <h2>Model 6</h2>
    <h2>Model 7</h2>
    <h2>Model 8</h2>
</div>

</ProjectsLayout>

<style>
    

    a:hover h1{
        color: #5d001E; 
    }

    a{
        font-family: "Onest", sans-serif;
        color: black;    
        border-radius: 5%;
        padding: 1% 1%;
        text-decoration: none;
        background-color: #e37eab;
        border-radius: 5px;
        border: 3px solid #EE4C7C;
        border-bottom: none;
    }

    .current-tab{
        font-family: "Onest", sans-serif;
        background-color: #e37eab; 
        border-bottom: none;
    }
    .current-tab h1{
        font-family: "Onest", sans-serif;
        color: #5d001E; 
    }

    .content-holder{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        gap: 1rem;
    }

</style>