---
import { MessageCircleHeart } from '@lucide/astro';
---

<footer class="footer-grid">
    <div class="logo"><MessageCircleHeart class="heart-icon" /></div>
</footer>

<style>
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr; /* Adjust the column sizes as needed */
        align-items: center;
        gap: 1rem; /* Adjust the gap between grid items */
        padding: 1rem;
        position: fixed;
        bottom: 0;
        color: #9A1750;
    }
    .logo {
        grid-column: 1;
    }
</style>