---
export interface Props {
  action: string;
}
const { action } = Astro.props;
---
<h1>Get In Touch!</h1>
<form method="POST" action={action}>
  <label>
    Name:
    <input type="text" name="name" required />
  </label>
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <label>
    Message:
    <textarea name="message" placeholder="Enter your message here..." required></textarea>
  </label>
  <button>Submit</button>
</form>

<style>
    h1{ 
        text-align: center;
     }

    form{
        font-family: "Onest", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 2rem; /* Adjust the gap between form elements */
        font-size: large;
    }

    form label{
    }

    input {
        border-radius: 5px;
    }

    textarea {
        border-radius: 5px;
        width: 100%; /* Make the textarea full width */
        height: 150px; /* Set a fixed height */
        resize: vertical; /* Allow vertical resizing */
        margin-top: 2%;
    }

    button {
        border: none;
        border-radius: 5px;
        align-self: center;
        padding: 1% 2%;
        font-family: "Onest", sans-serif;
    }

    button:hover {
    }

</style>