---
import { MessageCircleHeart } from '@lucide/astro';
import ThemeToggle from '../components/themeToggle.jsx';

---

<header class="header">
    <div class = "header-content">
        <div class="socials">
            <a href="https://github.com/kzryan" target="_blank">
                <img src="src/assets/github-icon.png" alt="github" height="40" width="40">
            </a>
            <a href="https:/www.linkedin.com/in/kzryan98" target="_blank">
                <img src="src/assets/linkedin.png" alt="linkedin" height="40" width="40">
            </a>
            <a href="https://www.codewars.com/users/kzryan" target="_blank">
                <img src="src/assets/codewars.svg" alt="codewars" height="40" width="40">
            </a>
        </div>
        <div class="name">Kate Ryan</div>
        <nav class="navigation">
            <a href="/about">About</a>
            <a href="/video-games">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
        <ThemeToggle client:load />
    </div>
</header>
<style>
    .header {
        width: 100%;
        position: sticky; /* Make the header sticky */
        top: 0; /* Stick to the top of the viewport */
        padding: 1rem 0;
        z-index: 1000; /* Ensure the header is above other content */
        font-family: "Onest", sans-serif;
        font-size: x-large;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Spread out the elements */
        align-items: center; /* Vertically center the elements */
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem; 
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .socials a:hover {
        color: #EE4C7C;
        
    }

    .navigation a {
        flex: 1;
        color: #9A1750;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        padding: 10px 10px;
    }
    /* mouse over link */
    .navigation a:hover {
        color: #EE4C7C;
        background-color: black;
        transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
        box-shadow: 0 10px 20px #E3AFBCAA;
        
    }
    
    .name{
        flex:
        margin-right: 3%;
        text-decoration: underline;
        color: #9A1750;
        font-weight: bolder;
    }

    @media (max-width: 1200px) {
            .name {
                color: black; /* Text color for smaller viewports */
            }
        }
    @media (max-width: 670px) {
            .navigation a {
                color: black;
                text-decoration: none;
            }
            /* mouse over link */
            .navigation a:hover {
                color: #000000;
                background-color: #9A1750;
                transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
                box-shadow: 0 10px 20px #000000AA;
            }
        }


</style>