---
export interface Props {
  columns: string[];
  rows: { [key: string]: any }[];
}
const { columns, rows } = Astro.props as Props;
---

<table>
  <thead>
    <tr>
      {columns.map(column => (
        <th>{column}</th>
      ))}
    </tr>
  </thead>
  <tbody>
    {rows.map(row => (
      <tr>
        {columns.map(column => (
          <td>{row[column]}</td>
        ))}
      </tr>
    ))}
  </tbody>
</table>

<style>

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  td, th {
    padding: 0.5rem;
  }

  /* Apply bottom and right borders to table cells */
  th, td {
    border-bottom: 1px solid black; /* Bottom border */
    border-right: 1px solid black; /* Right border */
    padding: 0.5rem; /* Optional: Add padding for content */
  }

  table tr td:first-child, 
  table tr th:first-child {
    border-left: 1px solid black;
  }

  table tr th {
    border-top: 1px solid black;
  }

  table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem;
  }

  table tr:first-child th:last-child {
    border-top-right-radius: 0.5rem;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
  }

</style>