---
import '../styles/global.css';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
	<Head />
	<title>Kate Ryan</title>
	</head>
	<body class="body">
		<Header class="header" />
    <div class="page">
      <div class="tab-holder"> <slot name="tabs" /> </div>
        <div class="content">
          <slot /> <!-- Default slot -->
        </div>
	  </div>
	  <Footer class="footer" />
	</body>
</html>

<style>
/*
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/mirror-bg.jpg');
  background-repeat: no-repeat;
  background-color: black;
}
*/

.header {
  grid-row: 1;
}

.tab-holder{
  position:relative;
  top:10%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content:center; /* Spread out the elements */
  align-items: center;
  font-family: "Onest", sans-serif;
  background-color: #e37eab00;
  z-index: 1;
}

.page {
  grid-row: 2;
  position: relative;
  margin: 0 2%;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.content {
  margin: 0 2%;
  border-radius: 5px;
  background-color: #e37eab;
  border: 3px solid #EE4C7C;
  padding: 10% 5%;
  z-index: 0;
}

.footer {
  grid-row: 3;
  /* Add any additional styles for the footer */
}

.heart-icon {
  margin-left: 1%;
}
</style>
